---
layout: default
---

<script>
  var lang = navigator.language || navigator.userLanguage;
  if (lang.indexOf('ru') == 0 && window.location.pathname != '/ru/')
    window.location = '/ru/';
</script>

<header class="_js_sticky">
	<div class="block__inner flex">
		<div class="header__section">
      <a href="#intro" class="logo"><img src="/assets/img/logo.svg" alt="logo"></a>
			<ul class="header__menu">
				<li><a href="#problem">SMART ASSISTANTS</a></li>
        <li><a href="#advantages">{% t index.advantages %}</a></li>
        <li><a href="#examples">{% t index.examples %}</a></li>
				<li><a href="#howitworks">{% t index.howitworks %}</a></li>
				<li><a href="#team">{% t index.team %}</a></li>
			</ul>
		</div>
		<div class="header__section">
      <a href="#contacts" class="button button_small"><span>{% t examples.try_it_text %}</span></a>
		</div>
	</div>
</header>
<div id="page-content">
  {% include intro.html %}
  {% include problem.html %}
  {% include advantages.html %}
  {% include examples.html %}
  {% include partners.html %}
  {% include howitworks.html %}
  {% include team.html %}
  {% include contact-form.html %}
</div>
<footer>
	<div class="block__inner">
		<div class="footer-contacts">
			<p><a class="footer-tel" href="tel:+79645091637">+7 (964) 509-16-37</a></p>
      <p><a class="footer-mail" href="mailto:bavadim@fastlaw.io">{{ site.email }}</a></p>
		</div>
		<p>2018 © fastlaw.io</p>
	</div>
</footer>
