@font-face {
    font-family: 'Advent Pro';
    src: url('AdventPro-Regular.woff2') format('woff2'),
        url('AdventPro-Regular.woff') format('woff'),
        url('AdventPro-Regular.svg#AdventPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barrio';
    src: url('Barrio-Regular.woff2') format('woff2'),
        url('Barrio-Regular.woff') format('woff'),
        url('Barrio-Regular.svg#Barrio-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

