<!-- About Section -->
    <section id="about">
        <div class="container">
          {% for person in site.about %}
          <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ person.picture }}" class="img-responsive img-circle img-about" alt="">
                    </div>
                </div>
                <div class="col-sm-8">
                        <h4>{{ person.heading }}</h4>
                        {{ person.content }}
                </div>
          </div>
          {% endfor %}
        </div>
    </section>
