<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A brief summary of my work history.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tools.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1986-2002</h4>
                                    <h4 class="subheading">My Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first 15 or 16 years of my career were spent honing my skills and expertise in electronics, mechanics, and robotics. I served in a variety of roles in 2 large businesses supporting manufacturing and new product design.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/laptop.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2009</h4>
                                    <h4 class="subheading">A Computer Tech is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ventured out to start my own computer repair business. The company mainly served home and small business users. My specialty was malware removal and system repairs. The timeframe from around 2004-2009 was where computer malware infections were rampant. Windows XP, while a great operating system, was extremely vulnerable to attack. The malware authors had also become really good at social engineering as a way to get their wares on the system. While malware is still a problem today it is nowhere near what it was during these years.
                                    </p>
                                    <p class="text-muted">
                                    I also supported hardware and software repairs/upgrades, network support, peripherals, backups, and other tech support functions as needed.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/coffee-computer.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010 to Present</h4>
                                    <h4 class="subheading">IT Contractor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Expenses were too high and trying to compete with the big boys became too difficult to keep the computer repair business doors open. I ventured out as an independent contractor and have worked with a variety of companies from small to large doing all phases of IT support since then, and continue that today.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/mac-air-desk.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">A Web Developer in the Making</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the summer of 2014 things were a little slow in the IT support world for me so I decided to go into a deep dive web developer learning journey. I've done some very basic coding over the years and even took some college courses in C/C++ and HTML/CSS.<br />
                                    I started out reading a couple of books, taking some free online courses, and putting together some very basic web sites using tutorials. There is much to learn - HTML, CSS, Javascript, JQuery, PHP, MySQL, Frameworks, CMS such as Wordpress/Joomla, tooling/processes, and more. I continue to push forward every day learning something new and expanding my web development skills.        
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/trees.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 to ...</h4>
                                    <h4 class="subheading">Be a Part of my Future</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If you're looking to build a new web site or replace your current site I would love to hear from you.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>