<!-- Food Section -->
    <section id="accomodation" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accomodation</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <span class="fa-stack fa-4x ">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hotel fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-9">
                    <p class="text-muted">If you are coming from further afield and looking for somewhere to stay, <a href="http://www.silvermistmountainlodge.co.za/rooms.php">Silvermist Estate</a> has its own accomodation available and <a href="http://www.houtkapperspoortresort.co.za/index.php">Houtkapperspoort Cottages</a> are quite literally across the road.  However, having somewhere within stumbling distance is really not necessary.  It doesn't take you long to get anywhere in Cape Town, so you can stay wherever you like and simply catch a cab.</p>
                </div>
            </div>
        </div>
    </section>