<div id="advantages" class="block assistants">
  <div class="block__inner">
    <div class="title-group">
      <h2 class="title">{{ site.data.advantages.title }}</h2>
    </div>
    <div class="flex-items">
      {% for advantage in site.data[site.lang].advantages.advantages %}
      <div class="assistants-item">
        <div class="assistants-item__inner">
          <div class="assistants-item__num">0{{ forloop.index + 1 }}</div>
          <div class="assistants-item__title">{{ advantage.name }}</div>
          <div class="assistants-item__text">{{ advantage.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="checks">
      <div class="flex-items">
        {% for item in site.data[site.lang].advantages.summary %}
        <div class="checks-item">
          <div class="checks-item__check">{{ item }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div><!-- .assistant end -->

