<!-- Adventure Section -->
<section id="adventure">
	<div class="container circularhover">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Adventure</h2>
				<h3 class="section-subheading text-muted">3 Ambulances, 3 Charity Rallies, 34 Countries, 5 Continents. Team Last Responders has traveled the world engaging people in the spirit of charity and adventure.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<a href="#rallyModalMongolRally2010" data-toggle="modal" class="circle-link">
								<div class="circle-hover">
									<div class="circle-hover-content">
										more
									</div>
								</div>
								<img class="img-circle img-responsive" src="img/2010-mongolrally/map_thumb.jpg" alt="">
							</a>
						</div>

						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>2010</h3>
								<h2 class="subheading">London to Mongolia</h2>
							</div>
							<div class="timeline-body">
								<h3 class="text-muted">10,475 Miles</h3>
							</div>
							<div class="button-container">
								<a href="#rallyModalMongolRally2010" style="color: #fff" data-toggle="modal" class="btn btn-small">More</a>
							</div>
						</div>

					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<a href="#rallyModalTimbuktuChallenge2012" data-toggle="modal" class="circle-link">
								<div class="circle-hover">
									<div class="circle-hover-content">
										more
									</div>
								</div>

								<img class="img-circle img-responsive" src="img/2012-timbuktuchallenge/map_thumb.jpg" alt="">
							</a>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>2012</h3>
								<h2 class="subheading">London to Mali</h2>
							</div>
							<div class="timeline-body">
								<h3 class="text-muted">4,627 Miles</h3>

							</div>
							<div class="button-container">
								<a href="#rallyModalTimbuktuChallenge2012" data-toggle="modal" style="color: #fff" class="btn btn-small">More</a>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<a href="#rallyModalPanAmericanRally2014" data-toggle="modal" class="circle-link">
								<div class="circle-hover">
									<div class="circle-hover-content">
										more
									</div>
								</div>

								<img class="img-circle img-responsive" src="img/2014-panamericanrally/map_thumb.jpg" alt="">
							</a>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>2014</h3>
								<h2 class="subheading">New York to Peru</h2>
							</div>
							<div class="timeline-body">
								<h3 class="text-muted">16,000 Miles</h3>
							</div>
							<div class="button-container">
								<a href="#rallyModalPanAmericanRally2014" data-toggle="modal" style="color: #fff" class="btn btn-small">More</a>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<a href="#rallyModalNyToMumbai2016" data-toggle="modal" class="circle-link">
								<div class="circle-hover">
									<div class="circle-hover-content">
										more
									</div>
								</div>

								<img class="img-circle img-responsive" src="img/2016-nytomumbai/map_thumb.png" alt="">
							</a>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3>2016</h3>
								<h2 class="subheading">New York to Mumbai</h2>
							</div>
							<div class="timeline-body">
								<h3 class="text-muted">10,000 Miles</h3>
							</div>
							<div class="button-container">
								<a href="#rallyModalNyToMumbai2016" data-toggle="modal" style="color: #fff" class="btn btn-small">More</a>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<h4>Launching
								<br>2016
								<br>August 30</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
