<!-- Agenda Section -->
<section id="nos_acompanhe">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v7.0"></script>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nos acompanhe</h2>
	<h3 class ="section-subheading"> Sempre temos novidades nas nossas redes sociais. Estamos no Instagram e no Facebook. Consulte aqui nossas postagens e nossa agenda </h3>
          <ul class="list-inline social-buttons">
            {% for network in site.social %}
            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
            </li>
            {% endfor %}
          </ul>
	<div class="fb-page" data-href="https://www.facebook.com/coletivaruta" data-tabs="timeline, events" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/coletivaruta" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/coletivaruta">Coletiva Ruta</a></blockquote></div>
      </div>
    </div>
  </div>
</section>
