<!-- Ambulances Section -->
<section id="ambulances" class="bg-light-gray circularhover">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Our Ambulance Donations</h2>
				<h3 class="section-subheading text-muted"></h3>
			</div>
		</div>
		<div class="row">
			{% for member in site.categories.modal %}
			{% for tag in member.tags %}
			{% if tag == "modal-ambulance" %}
			<div class="col-sm-4">
				<div class="ambulance-unit">
					<a href="#ambulanceModal{{ member.modal-id }}" data-toggle="modal" >
						<div class="circle-link" style="width:225px;height:225px">
							<div class="circle-hover">
								<div class="circle-hover-content">
									more
								</div>
							</div>
							<img src="img/{{ member.thumb }}" class="img-responsive img-circle" alt="">
						</div>
					</a>
					<h4>{{ member.make }}</h4>
					<p class="text-muted">{{ member.position }}</p>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<p class="large text-muted"></p>
			</div>
		</div>
	</div>
</section>
