<!-- Blog -->
    <section id="blog" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <head>
                        <meta charset="UTF-8">
                        <title>hello, world!</title>
                        <meta name="viewport" content="width-device-width, initial-scale=1">
                        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,
                         500i,700,700i,900,900i>
                        <link rel="stylesheet" href="styles/reset.css">
                        <link rel="stylesheet" href="styles/debug.css">
                        <link rel="stylesheet" href="styles/article.css">                                              
                        <style>
                                                                       
                        </style>
                    </head>
                    <body>
                        <article>
                            <p class="debug-center">ARTICLE</p>                                         
                        </article>
                        <article>
                            <p class = "debug-center">ARTICLE</p>                      
                        </article>                           
                    </body>                                                 
                </div>
            </div>
        </div>
    </section>
