<!-- Blog -->
    <section id="blog" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted">Learn more about the environment!</h3>
                    <body>
                        <article id="blog-post1"><br>
                            <h2><b> 5 Sustainability Tips </h2></b>
                            <h3> Bailey Hirota</h3><br>
                            <time datetime="07-28-2019">JULY 28, 2019</time>
                            <p>
                                It’s no secret that the environment is in danger. Prevent further degradation by switching to a more sustainable lifestyle. Small changes, although seemingly negligible, can contribute to great change over sustained periods of time. We only have one earth; we should do our best to return it to an abundant, vibrant state as soon as possible. And that begins with us. 
                            </p> 
              
                                <h3>Purposeful Shopping</h3>
                            <p>
                                The old saying “reduce, reuse, recycle” still holds true today. Every product has an “environmental footprint,” which includes the materials needed to create it to the pollution emitted during the manufacturing process to the packaging that is eventually relocated to landfills. Before buying something, ask yourself, “Do I really need this?”. Ensuring each purchase is necessary will both save money and reduce environmental footprint. 
                            </p>
                                <h3> Make sure big purchases have big environmental benefits</h3>
                            <p>    
                                When car shopping, consider fuel-efficient models - not only will you save thousands in gas money, but you will also drastically reduce your carbon footprint over the years. If you’re looking to buy a refrigerator, washer, dryer, or microwave, be aware of Energy Star labels to help you find the most efficient, energy saving appliances. For new water heaters, upgrade to solar.
                            </p>     
                                <h3> Go plastic free - #standagainstplastic</h3>
                            <p>    
                                With a 1000 year decomposition time, plastic never really just 'goes away.' Today, it accounts for just over 40% of the world's ocean surface. Numerous marine mammals are killed after ingesting or being impaled by plastic. Implementing plastic-free habits in your daily life, such as using reusable shopping bags, water bottles, and straws, and supporting brands that are sustainable, can help to reduce plastic pollution.
                            </p>   
                                <h3> Pay attention to labels</h3>
                            <p>     
                                Similar to #3, buying goods that are Fair Trade, organic, or "shade-grown" can contribute to a more sustainable lifestyle. "Shade-grown" coffee is grown while keeping forest habitats intact for migratory birds and other species. Fair Trade certified goods support companies dedicated to sustainable production and fair wages. Organic foods help to keep harmful pesticides out, protecting workers, wildlife, and the environment. 
                            </p>     
                                <h3> Mindful Eating</h3>
                            <p>   
                                 Meat production is undoubtedly one of the most environmentally destructive industries on the planet. It is also a major contributor to pollution, greenhouse gas emissions, and habitat destruction. Each day, we can contribute to a reduced environmental footprint - and each time we eat, we can choose to improve the health of the planet by reducing our meat intake. In addition, around 40% of edible food in the US is wasted. Smart, planned shopping and a well devised meal plan can ensure complete use of the foods you purchase.
                            </p>
                            <br>
                            
                         </article> 
                         <img src="https://images.unsplash.com/photo-1562428309-f97fc8e256e7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9">
                         <br>
                         <br>
                         <br>
                         <br>
                         <br>
           
                    </body> 
                    <body>
                        <article id="blog-post2">
                            <h2><b> Benefits of an Environmentally Conscious Business</h2></b><br>
                            <h3> Tovah Negus</h3><br>
                            <time datetime="7-28-2019">JULY 28, 2019</time>
                            <p>
                                Interest in environmental conservation has grown rapidly. People have been attempting to find more sustainable plastic alternatives, from avocado seed straws to metals straws and reusable bottles. This surgance has been astronomically helpful in raising awareness; however, there are still many people who refuse to change their destructive ways. They are insistent on the fact that climate change is not real and that our plastic consumption doesn’t matter in the long run.
                            </p>
                            <p>
                                There are many arguments used by climate change deniers. According to Business Insider, approximately 33% of deniers say that the weather has not changed around them, 18% say that the temperature varies naturally, another 12% state that there is conflicting or insufficient scientific evidence, and 5% of deniers state that the news reports and research are false. These deniers have a great amount of influence in the business sector, where the majority of the plastics pollutants come from. What is needed is proof that sustainability is more efficient and more profitable. 
                            </p>
                            <p>
                                According to Business Queensland, there are many ways that an environmentally conscientious business is profitable. There are three main points: <br>
                                   <b>Recycling reduces costs                  </b><br>   If one were to use reusable products, there would be reduced materials expenses, since making or buying things like plastic utensils and straws would not be necessary.
                                   <b>Green practices can attract new customers</b><br>   Businesses that are known to be environmentally conscientious are more likely to attract customers, in general, than non-environmentally friendly businesses. <br>
                                   <b>Improves Sustainability                  </b><br>   If a business is less reliant on resources like plastic, they will beat out their competitors when prices rise due to climate change. Furthermore, they are more likely to comply with future legislation. 
                            </p>
                        </article>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                     </body>
                     <body>
                         <article id="blog-post3">
                             <h2><b> 5 Interesting Books on the Climate Crisis Everyone Should Read</h2></b><br>
                             <h3> Tovah Negus</h3><br>
                             <time datetime="7-31-2019">JULY 31, 2019</time>
                             <p>
                                 It’s no secret that climate change is one of the world’s most pressing issues. With an estimated 11 years left before irreversible climate change and the continued lack of global awareness, the outlook is bleak. Many blame the current scale of the climate crisis on the lack of political action; however, legislation tends to follow public opinion, as politicians often back trends that garner the most support. This means that educated individuals who guide others can in turn influence the politicians responsible for such legislation in the first place. Sounds great, right? Here are some books to get you started. 
                             </p>
                             <p>
                                 <ol>
                                     <li><b> The Uninhabitable Earth by David Wallace-Wells</b> : Adapted from the New York Times article “The Uninhabitable Earth”, this book exhibits the devastating effects of global warming and depicts what life (if there will be any) will be like if the Earth’s average temperature continues to increase.</li>
                                     <li><b> We Rise: The Earth Guardians Guide to Building A Movement That Restores the Planet by Xiuhtezcatl Martinez</b> : Xiuhtezcatl Martinez is an indigenous climate activist who, at the age of 6, believed it was his destiny to save the planet. At 16, he began writing his book, discussing his journey as a climate activist and as a member of the The Earth Guardians, a group of youth activists who are suing American federal government for violating their constitutional right to life due to the government's failure in preventing the environmental disasters and regulating pollution.</li>
                                     <li><b> Plastic: A Toxic Love Story by Susan Frienkel</b> : Journalist Susan Frienkel provides insight as to how and why humans have become so dependent on plastic in our modern lives. She discusses the mentality of humanity's relationship with plastic and why its detrimental to our planet. </li>
                                     <li><b> You Can Save the Earth: A Handbook for Environmental Awareness, Conservation, and Sustainability by Andrew Flach</b> : This handbook offers a more spiritual approach to solving the climate crisis, including mediation exercises and affirmations. It allows an individual to understand how humans are connected to the Earth and how to value the natural resources Earth produces that are vital to all life. </li>
                                     <li><b> The Big Thirst: The Secret Life and Turbulent Future of Water by Charles Fishman</b> : In this novel, Charles Fisman defines what water means to human life. He observes humanity's excessive and mindless use of water that has led to the current scarcity of water all around the world. This book confronts the reader that every human- including you - has slightly lost respect for such a vital resource in our life. </li>
                                 </ol>
                             </p>
                        </article>
                    </body>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <body>
                        <article id="blog-post4">
                            <h2><b> What's Growing Where?</h2></b><br>
                            <h3> Kaitlyn Duffy</h3><br>
                            <time datetime="7-31-2019">JULY 31,2019</time>
                            <p>
                                Thirty-three public schools in Howard County were recognized for mold outbreaks in locker rooms, gyms, and athletic storage closets. This wasn’t a first - in 2016, there were exactly twelve Howard County schools that had higher level molds than what was expected. Now, the complaints from students and faculty have rolled in once again.
                            </p>
                            <p>
                                The main sources of the outbreaks are athletic departments, like locker rooms, and sports gear, such as helmets, volleyballs, and swim caps. Some schools involved are Ellicott Mills Middle School, Lime Kiln Middle School, River Hill High School, Hammond Elementary, and Northfield Elementary. 
                            </p>
                            <p>
                                Mold growing is a definite health hazard. The effects of mold include asthma, allergic reactions, and irritation in the eyes, nose, throat, lungs, and skin. Health guideline officials have taken notice and have investigated janitors and staff members that may be held responsible for involvement in the outbreak. For containment, strict procedures have been established. First, IEQ officials review each school by doing walk-throughs. Then, the Office of Environment contacts each official who submits a concern, and lastly, a school hygienist drops ceilings for a further and more in depth walk-through.
                            </p>
                            <p>
                                Through this, school officials have concluded that the thermostat created the problem - individuals would change the temperature frequently without realizing the implications. Keeping a constant temperature and deep cleaning affected areas are core elements of the solution to the outbreak. If it isn’t fixed, students will face health risks from the exposed fungi.
                            </p>
                            <p>
                                Our schools are important too. We need to focus on the health of not only students, but also the school property itself. Keeping gyms, bathrooms, and classrooms clean will allow a more positive, fresh, and healthy environment for the students.
                            </p>
                        </article>
                     </body>
                     <body>
                         <article id="blog-post5">
                             <h2><b> Make The Easy Switch: Bar Shampoo</h2></b><br>
                             <h3> Jadyn Cantrell</h3><br>
                             <time datetime="7-31-2019">JULY 31,2019</time>
                             <p style="text-align:left><b><u> Bottles of Doom</u></p></b>
                             <p>
                                 Walking through aisles and aisles of hair products and trying to choose the best one can be daunting. Even more daunting is the fact that, according to Johnson & Johnson, over 552 million shampoo bottles end up in landfills per year, and that’s just in the United States. 
                             </p>
                             <p style="text-align:left><b><u> The Solution </u></p></b></p>
                             <p>
                                 Bar shampoo. These zero waste products provide an easy option for sustainable living that can significantly reduce your carbon footprint and plastic consumption. Not only do they not waste plastic, most bar shampoos can last up to 80 washes.
                             </p>
                             <p style="text-align:left><b><u> Still Not Convinced? </u></p></b></p>
                             <p>
                                 Not only are the bars environmentally friendly, but they are convenient too. These TSA approved products make travelling a breeze and shampoo covered luggage almost impossible. Also, these products do not contain the harmful chemicals that traditional shampoos do, leaving your hair, and the Earth, sparkling clean.
                             </p>
                             <p style="text-align:left><b><u> Where to Find Them </u></p></b></p>
                             <p>
                                 Lush - Lush is a vegetarian and cruelty free brand that offers high quality and environmentally friendly bath products. <a href="https://www.lushusa.com">Lush</a>
                                 Unwrapped Life - Looking for a smaller, high quality brand? Unwrapped life provides not only shampoo, but many variations of plastic free beauty products. <a href="https://unwrappedlife.com">Unwrapped Life</a>
                                 Amazon - For a more convenient option, Amazon delivers right to your doorstep. <a href="https://www.amazon.com"> Amazon</a>
                                 Target - This superstore that is conveniently situated on every corner in America offers a variety of eco friendly bar shampoos. <a href="https://www.target.com"> Target</a>
                             </p>   
                        </article>      
                    </body>          
                </div>
            </div>
        </div>
    </section>
