<!-- Blog -->
    <section id="blog" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <head>
                        <meta charset="UTF-8">
                        <title>hello, world!</title>
                        <meta name="viewport" content="width-device-width, initial-scale=1">
                        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,
                         500i,700,700i,900,900i>
                        <link rel="stylesheet" href="styles/reset.css">
                        <link rel="stylesheet" href="styles/debug.css">
                        <link rel="stylesheet" href="styles/article.css">                                              
                        <style>
img { width: 100%; }
                                                                        
.size-1 {grid-column: 4 / 5; }
.size-2 {grid-column: 4 / 5; }
.size-3 {grid-column: 4 / 5; }                                                                        
.size-4 {grid-column: 4 / 5; }                        
                        </style>
                    </head>
                    <body>
                        <article>
                            <!-- <p class="debug-center">ARTICLE</p> -->
                            <img class="size-4" src="https://caccoalition.slack.com/files/ULM69DF6K/FLM09T936/vitaly-sacred-v7llcn8ejdy-unsplash.jpg">
                            <img class="size-3" src="https://caccoalition.slack.com/files/ULM69DF6K/FLM09T936/vitaly-sacred-v7llcn8ejdy-unsplash.jpg">
                            <img class="size-2" src="https://caccoalition.slack.com/files/ULM69DF6K/FLM09T936/vitaly-sacred-v7llcn8ejdy-unsplash.jpg">
                            <img class="size-1" src="https://caccoalition.slack.com/files/ULM69DF6K/FLM09T936/vitaly-sacred-v7llcn8ejdy-unsplash.jpg">                                                                                                          
                        </article>                 
                    </body>                                                                     
                </div>
            </div>
        </div>
    </section>
