<!-- Case Studies -->
    <section id="casestudies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Case Studies</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-block">
			        <h3 class="card-title">Workforce Community Cloud: Colorado</h3>
			        <p class="card-text text-muted">To keep up with the ever changing demands of an increasingly dynamic labor market, state and local workforce agencies must go from being technology laggards to technology leaders in supporting vibrant, interconnected local workforce data ecosystems.<br /><br />This pilot aims to make the wage and employment outcomes for every job training program in the State of Colorado publicly available. The pilot will support the use of this new structured training performance report data in facilitating training search and matching done by State and local workforce agencies, as well as in third-party applications.</p>
			        <a href="mailto:info@brighthive.io" class="btn btn-primary">Learn more</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-block">
					<h3 class="card-title">Health & Human Services Community Cloud: Indiana</h3>
			        <p class="card-text text-muted">In collaboration BrightHive Anthem convened a broad variety of cross-sector Indiana stakeholders for the Community Cloud Data Integration Project. This project seeks to develop interoperable data services to grow and support a coordinated ecosystem for overlapping service sectors.<br /><br />The Community Cloud Data Integration Project will improve the health, housing stability, and wellbeing of vulnerable individuals in Indiana by enabling system-level outcomes and cost data to make the case for public and private investment in permanent supportive housing and other evidence-based solutions.</p>
			        <a href="mailto:info@brighthive.io" class="btn btn-primary">Learn More</a>
			      </div>
			    </div>
			  </div>
			</div>
        </div>
    </section>