<!-- Taxi strip -->
    <aside class="taxis">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="logo">
                        <a href="https://www.uber.com/cities/cape-town">
                            <img src="img/logos/UBER-logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="logo">
                        <a href="http://www.rikkis.co.za/">
                            <img src="img/logos/rikkis-logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="logo">
                        <a href="http://www.cabco.co.za/index.php">
                            <img src="img/logos/CabCo-logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="logo">
                        <a href="http://www.excitetaxis.co.za/#">
                            <img src="img/logos/Excite-logo.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </aside>