<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">企業賛助会員</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://georepublic.info/ja/">
                        <img src="img/logos/georepublic.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.mapconcierge.com/">
                        <img src="img/logos/maconcierge.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.mapquest.co.jp/">
                        <img src="img/logos/mapquest.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="http://www.sw-factory.com/">
                        <img src="img/logos/softwarefactory.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="https://geolonia.com/">
                        <img src="img/logos/geolonia.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>


            </div>
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">サーバインフラ支援</h2>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <a href="https://www.sakura.ad.jp/">
                        <img src="img/logos/sakurainternet.png" class="img-responsive center-block" alt="">
                    </a>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-6">
                    <a href="https://www.onamae-server.com/">
                        <img src="img/logos/gmologo.png" class="img-responsive center-block" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
