<div id="contacts" class="block block-form">
  <div class="block__inner">
    <div class="title-group">
      <div class="title-group">
        <h2 class="title title_small">Need a consultation?</h2>
        <p class="text">Our experts will answer all your questions and help you make the right choice.</p>
      </div>
    </div>
    <form class="form" action="https://formspree.io/info@fastlaw.io" method="POST">
      <input class="input" type="email" placeholder="e-mail" name="_replyto">
      <input class="button" type="submit" value="Send">
    </form>
  </div>
</div><!-- .expert end -->
