<div id="contacts" class="block block-form">
  <div class="block__inner">
    <div class="title-group">
      <div class="title-group">
        <h2 class="title title_small">Нужна консультация?</h2>
        <p class="text">Наши специалисты ответят на все ваши вопросы и помогут сделать правильный выбор.</p>
      </div>
    </div>
    <div class="form">
      <input class="input" type="text" placeholder="Телефон или e-mail">
      <button class="button"><span>Отправить запрос</span></button>
    </div>
  </div>
</div><!-- .expert end -->
