<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Поделиться проблемой</h2>
        <h3 class="section-subheading text-muted">Мы всегда ищем актуальные задачи, чтобы решить их. Вы можете помочь нам в этом!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" action="https://formspree.io/bavadim@gmail.com" method="POST">
          <input type="hidden" name="_language" value="ru">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="control-group form-group">
                <input type="email" class="form-control" placeholder="Ваш Email *" id="email" required data-validation-required-message="Пожалуйста, введите ваш email." name="_replyto">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="control-group form-group">
                <textarea class="form-control" placeholder="Ваше сообщение *" id="message" required data-validation-required-message="Пожалуйста, введите сообщение." name="text"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <input type="submit" class="btn btn-xl" value="Поделиться">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
