<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t contact.heading %}</h2>
                <h3 class="section-subheading text-muted" style="color:white;">
                    {% t contact.subHeading %}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form name="sentMessage" id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    <input type="text" class="form-control"
                                           placeholder="{% t contact.name %}" id="name" required
                                           data-validation-required-message="{% t contact.nameText %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    <input type="email" class="form-control"
                                           placeholder="{% t contact.email %}" id="email" required
                                           data-validation-required-message="{% t contact.emailText %}">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                                    <input type="tel"
                                           class="form-control"
                                           placeholder="{% t contact.phone %}"
                                           id="phone"
                                           >
                                    <input type="text" id="_gotcha" style="display:none" />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                <textarea class="form-control"
                          placeholder="{% t contact.message %}" id="message"
                          required
                          data-validation-required-message="{% t contact.messageText %}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-6 col-md-offset-6 text-center">
                            <div id="successMessage"></div>
                            <button type="submit" class="btn btn-xl">{% t contact.send %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <address>
                            {% for line in site.address %}
                            {{line.line}}<br>
                            {% endfor %}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>