<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="color: #222;">Fale conosco</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
	<h3 class="section-subheading text-muted" style="color: #222; font-size: 1.3em;">Entre em contado conosco por e-mail para oficinas, outras atividades, dúvidas e sugestões.<br/> Fique a vontade para nos escrever.
	  <br/>	  
            <li><a href="mailto:contato@coletivaruta.com.br"><i class="fa fa-envelope"></i></a> contato@coletivaruta.com.br </li> 
	</h3>
      </div>
      <div style=" padding-top: 350px;">
      </div>
    </div>
  </div>
</section>
