<section id="contact">
    <div class="container">
        <div class="row pull-up">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
                <h3 class="section-subheading text-muted">Please reach out if you need help<br /> with any of your technology challenges.</h3>
            </div>
        </div>
           
        <div class="contact-info">
      
        <div class="row push-down">
          <div class="col-md-4">
            <div class="location text-center">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
              </span>
              <h6 class="text-white">Location</h6>
              <p class="text-white">Boston, MA USA</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="email text-center">
            <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
               
              <h6 class="text-white">Email</h6>
              <p class="text-white"><a class="text-white" href="mailto:webdevdjm@gmail.com">webdevdjm@gmail.com</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="phone text-center">
             <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
              <h6 class="text-white">Phone</h6>
              <p class="text-white">(774) 571-3644</p>
            </div>
          </div>
        </div>
      
    </div>
    <!-- end contact-info -->
             
    </div>
</section>