<!-- About Section -->
    <section id="didactics">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% t didactics.heading %}</h2>
                    <h3 class="section-subheading text-muted">{% t didactics.subHeading %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-5x fa-eye"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>SEE</h4>
                                    <h4 class="subheading">{% t didactics.see.heading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% t didactics.see.text %}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">

                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-laptop fa-stack-2x"></i>
                                    <strong class="fa-stack-1x et-text">E.T</strong>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>TRY</h4>
                                    <h4 class="subheading">{% t didactics.try.heading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% t didactics.try.text %}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-laptop fa-5x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>DO</h4>
                                    <h4 class="subheading">{% t didactics.do.heading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% t didactics.do.text %}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <i class="fa fa-5x fa-slideshare"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Explain</h4>
                                    <h4 class="subheading">{% t didactics.explain.heading %}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{% t didactics.explain.text %}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>{% t didactics.end %}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>