<!-- downloads Section -->
<section id="downloads">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Downloads</h2>
	<div class="col-sm-6">
	  <h4 class="section-body"> 
	    <a href="{{ site.baseurl }}/downloads/ZINE_CandidiaseVersao3Outubro2019.pdf">
	      <i class="material-icons">cloud_download</i>
	    </a>
	    Zine: Candidíase - Como fazer as pazes com ela? 
          </h4>
	  <h4 class="section-body"> 
	    <a href="{{ site.baseurl }}/downloads/ZINE_CandidiaseVersao3Outubro2019.pdf">
	      <i class="material-icons">cloud_download</i>
	    </a>
	    Zine: Candidíase - Como fazer as pazes com ela? 
          </h4>
	</div>
      </div>
    </div>
  </div>
</section>
