<!-- Erosion Section -->
<section id="erosion" class="bg-light-gray">
    <div class="container">
        <div class="row padded-row text-center">
            <div class="col-md-5 col-sm-6">
                <a href="#">
                    <img src="img/fort-mcmurray.jpg" class="img-narrow" alt="">
                </a>
            </div>
        <div class="col-md-7 col-sm-6">
            <h2 class="section-heading">The Erosion Problem</h2>
            <p class="large">Unlike assessing flood risk, which follows well-defined procedures for floodplain mapping, assessing the risk of river erosion for specific locations is challenging. Existing methods tend to be qualitative, expensive, and often produce unreliable results.  
            </p>
        </div>
    </div>
</section>