<!-- Events -->
    <section id="initiatives" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Initiatives</h2>
                    <h3 class="section-subheading text-muted">A listing of rallies and events that are organized by CACC members.</h3>
                    <body>
                        <h3><b> Speak Out- Share your thoughts on the climate crisis!</b></h3>
                        <ul>
                            <li><p align="left"> In a survey of 26 countries, it was found that just over 60% of people considered climate change a global threat.</p></li>
                            <li><p align="left"> Join a movement of climate change activists by telling us how environmental injustice is important to YOU. Submissions will be shared on our Instagram, @caccoalition , and the first 100 people to participate will be entered for a chance at winning a $50 Amazon gift card!</p></li>
                            <li><p align="left"> Promote this campaign by sending our Google Forms link to your friends and family, and encourage them to spread the word through their own social media pages.</p></li>
                            <li><p align="left"> Enter <a href="https://docs.google.com/forms/d/1vbpGnhplse-IqpmEfpY3XWW3ZekclqIZsLPDej63B4c/viewform?edit_requested=true">here</a></p></li>
                        </ul>
                    </body>
                    <br>
                    <br>
                    <br>
                    <body>
                        <h3><b> Bee Basins- Help us preserve biodiversity by keeping insects healthy!</b></h3>
                        <ul>
                            <li><p align="left">Bees, butterflies, and other insects require water between travels. With rising temperatures, dehydration is becoming a greater issue. Bees are a keystone species, which means they’re essential to the ecosystem.</p></li>
                            <li><p align="left"> Keep bees hydrated by setting up Bee Basins at gardens, parks, and schools in your local community.</p></li>
                            <li><p align="left"> Get Started:
                                <ul>
                                   <li><p align="left">Be sure to check out <a href="https://www.gardensthatmatter.com/make-bee-waterer/">this guide</a> from the Gardens that Matter or<a href="https://www.care2.com/greenliving/help-the-bees-with-this-diy-bee-water-garden.html"> this one </a> from The Green Divas for instructions on how, and establish a routine for changing the water to prevent mosquitoes from breeding. As always, pictures or anecdotes on your experience are appreciated!</p></li>
                                </ul>
                            </li>
                        </ul>
                    </body>   
                </div>
            </div>
        </div>
    </section>
