  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}. Blah blah blah ICC trademark notification</span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
