  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <span class="copyright"><p>Copyright &copy; Heather Anderson {{ 'now' | date: "%Y" }}. <br/>Integral Master Coach™ is a registered trademark in Canada owned by Integral Coaching Canada Inc. and  licensed to Heather Anderson.</p></span>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
