<!-- Galeria Section -->
<section id="galeria">
  <div class="container" >
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="color: transparent;">Galeria de fotos</h2>
      </div>
      <div class="col-lg-12 text-center">
        <button type="submit" class="btn btn-xl" style="background-color: #fff; color: #222; margin-top: 10px; font-size: 2em;" onclick="document.location = 'http://coletivaruta.com.br/galeria_fotos/'">Galeria de Fotos</button>
      </div>
      <div style=" padding-top: 420px;">
      </div>
    </div> 
  </div>
</section>
