<!-- Hazards Section -->
<section id="hazards" class="bg-light-gray">
    <div class="container">
        <div class="row padded-row text-center">
            <div class="col-md-5 col-sm-6">
                <a href="#">
                    <img src="img/fort-mcmurray.jpg" class="img-narrow" alt="">
                </a>
            </div>
        <div class="col-md-7 col-sm-6">
            <h2 class="section-heading">Natural Hazards</h2>
            <p class="large">Insurance claims due to natural hazards have been growing at an unprecedented rate. More than one-third of insured losses in recent decades can be attributed to changes in precipitation. Simple statistics based on historical averages can no longer accurately price risks.
            </p>
        </div>
    </div>
</section>