
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenu sur mon portfolio !</div>
                <div class="intro-heading">Automate is the new playground</div>
                <a href="#services" class="page-scroll btn btn-xl">Cliquez ici !</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

