<div id="howitworks" class="block block-text" style="background-image: url(assets/img/bg-text.jpg);">
  <div class="block__content">
    <h2 class="title _text-center">What’s under the hood</h2>
    <div class="__user-input">
      <p>Neural networks made a revolution in solving problems of artificial intelligence. And the aspect of natural language processing wasn’t left out. We apply the latest advances in this area so that SMART ASSISTANTS can understand you and have a coherent conversation with you.</p>
      <p>Our team includes members of the iPavlov project (MIPT) – one of the largest projects in the field of developing tools and algorithms of natural language processing. We actively use the iPavlov algorithms to solve such complex problems as extracting facts from text (NER), user intent recognition and conversation conducting (DST).</p>
    </div>
  </div>
</div><!-- .block-text end -->
