<div id="howitworks" class="block block-text" style="background-image: url(assets/img/bg-text.jpg);">
  <div class="block__content">
    <h2 class="title _text-center">Что у нас под капотом</h2>
    <div class="__user-input">
      <p> Нейронные сети произвели революцию в решении задач искусственного интеллекта. Область обработки естественного языка не осталась в стороне. Мы применяем последние достижения в этой области для того, чтобы SMART ASSISTANTS могли понимать вас и вести связанную беседу.</p>
      <p>Наша команда включает сотрудников проекта iPavlov (МФТИ) - одного из крупнейших проектов по созданию инструментария и алгоритмов обработки естественного языка. Мы активно применяем алгоритмы iPavlov для решения таких сложных задач, как извлечение фактов из текста (NER), определения намерения пользователя (intent recognition) и ведения беседы (DST).</p>
    </div>
  </div>
</div><!-- .block-text end -->
