<!-- Important stuff Section -->
    <section id="important">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Important stuff</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Time</h4>
                    <p class="text-muted">The ceremony will begin at 4:30 in the afternoon, on Saturday 19th March. You're welcome to arrive from 4pm.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Place</h4>
                    <p class="text-muted">Both the ceremony and the reception will happen at:</p>
                    <p class="text-muted">The Eatery</br>Silvermist Estate</br>Constantia Nek</br>Cape Town</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-black-tie fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dress code</h4>
                    <p class="text-muted">Smart casual.  Yes, that means you can wear a suit if you want to.  On the other hand, it also means you don't even have to wear a tie. Dad, no crocs.</p>
                </div>
            </div>
        </div>
        <div class="maps spacing">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.215987795132!2d18.40042711582225!3d-34.012666433972484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc6846c1ff97ed%3A0x5fdb138d8d8197cd!2sSilvermist+Mountain+Lodge!5e0!3m2!1sen!2sza!4v1450448688683" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </section>