<!-- Important stuff Section -->
    <section id="important">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Important stuff</h2>
                    <h3 class="section-subheading text-muted">The rest is detail.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Time</h4>
                    <p class="text-muted">The ceremony will begin at 4:30 in the afternoon, on Saturday 19th March.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Place</h4>
                    <p class="text-muted">Both the ceremony and the reception will happen at:</p>
                    <p class="text-muted">The Green Vine Eatery</br>Silvermist Estate</br>Constantia Nek</br>Cape Town</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-black-tie fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dress code</h4>
                    <p class="text-muted">Smart casual.  Yes, that means you can wear a suit if you want to, but you don't have to.</p>
                </div>
            </div>
        </div>
    </section>