<!-- jQuery Version 1.11.0 -->
<script type="text/javascript" src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"/></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript" src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>

<!-- Contact Form JavaScript -->
<script type="text/javascript" src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/subscribe.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>


<script type="text/javascript" src="{{ "/js/shariff.min.js" | prepend: site.baseurl }}"></script>
