<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.baseurl}}/#page-top">
                    <span class="large"><span class="first">E</span>.T</span>utorial
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{{site.baseurl}}/#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#didactics">Didaktisches Modell</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#services">Leistungen</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#portfolio">Kurse</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#success">Methodik</a>
                    </li>
                    <!--<li>-->
                        <!--<a class="page-scroll" href="#about">About</a>-->
                    <!--</li>-->
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/#contact">Kontakt</a>
                    </li>
                    <li class="et">
                        <a href="https://et.ethz.ch">E.Tutorials öffnen</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


