<!-- Clients Aside changed to section updated for partners need to rename componets-->
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Partners</h2>
                    <h3 class="section-subheading text-muted">Share our vision for a data literate ecosystem.</h3>
                </div>
            </div>
                <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://datamade.us/">
                        <img src="img/logos/datamade.png" class="img-responsive img-centered" alt="DataMade Logo">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 align-bottom">
                    <a href="https://superconductivehealth.com/">
                        <img src="img/logos/supercoductivehealth-green.png" class="img-responsive img-centered" alt="Superconductive Health Logo">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://group17a.com/">
                        <img src="img/logos/17a.png" class="img-responsive img-centered" alt="17a Logo">
                    </a>
                </div>
            </div>
        </div>
    </section>