<div class="modal fade" id="privpolicy" tabindex="-1" role="dialog" aria-labelledby="privpolicyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title" id="privpolicyLabel">Politique de confidentialité</h4>
        </div>
        <div class="modal-body">
            <p>Nous nous engageons à ne collecter aucun renseignement personnel, d'aucune sorte que ce soit.</p>
            <p>Un formulaire de contact est utilisé sur ce site. Les données fournies (nom, e-mail,…) ne sont pas stockées. Elles servent uniquement à vous répondre dans le cas échéant.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
        </div>
    </div>
</div>