<!-- Portfolio Grid -->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading">OSMFJについて</h2>
        </div>
        <div class="row">
        {% for post in site.posts %}
            <div class="col-lg-6 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ post.modal-id }}">
                       <div class="portfolio-hover">
                           <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                       </div>
                       <img class="img-fluid" src="img/portfolio/{{ post.thumbnail }}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{ post.title }}</div>
                        <div class="portfolio-caption-subheading text-muted">{{ post.subtitle }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
