<!-- Press Section -->
    <section id="press" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">BrightHive in the Press</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <a href="http://www.garycommunity.org/">
                        <img src="img/logos/GCI.png" class="img-responsive img-centered" alt="BrightHive Logo">
                    </a>
                    <h4 class="service-heading"><br /></h4>
                    <p class="text-muted">BrightHive in collaboration with NHSA was recently named one of the <a href="https://www.openideo.com/ecprize">Early Childhood Innovation Prize’s</a> “Top Ideas” because of its potential to create breakthrough impact for young children. As one of 15 Top Ideas selected from more than 570 ideas submitted from innovators in 100 countries through <a href="https://www.openideo.com/">OpenIDEO’s</a> prize platform, we will share in $1 million in prize funding from <a href="http://www.garycommunity.org/">Gary Community Investments (GCI)</a> to help accelerate our impact.</p>
                </div>
                <div class="col-md-6">
                    <a href="https://datapractices.org/">
                        <img src="img/logo-brighthive.png" class="img-responsive img-centered" alt="BrightHive Logo">
                    </a>
                    <h4 class="service-heading"><br /></h4>
                    <p class="text-muted">BrightHive is a co-founding and active contributor and evangelist of the Community Principles For Ethical Data Sharing (CPEDS). <a href="https://www.bloomberg.com/company/announcements/bloomberg-brighthive-data-democracy-launch-initiative-develop-data-science-code-ethics/">Together with co-founders Bloomberg, and Data For Democracy</a> as well as our growing community of ethical data advocates we believe that we need to  define ethical and responsible behaviors for sourcing, sharing and implementing data in a manner that will cause no harm and maximize positive impact. The goal of this initiative is to develop a community-driven code of ethics for data collection, sharing and utilization that provides people in the data science community a standard set of easily digestible, recognizable principles for guiding their behaviors.</p>
                </div>
            </div>
        </div>
    </section>