<div id="products">
  {% for product in site.data.products %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
  <div class="block card" style="background-color: #f5f9fc;">
  {% else %}
  <div class="block card">
  {% endif %}
    <div class="block__inner">
      <div class="title-group">
        <h2 class="title">{{ product.name }}</h2>
        <p class="text">{{ product.summary }}</p>
      </div>
      <div class="block__sections">
        <div class="block__section-content">
          <div class="block__section-content-inner">
            <h2 class="card__title">Что может {{ product.shortname }}</h2>
            <div class="__user-input">
              {% for feature in product.features %}
              <h3>{{ feature.title }}</h3>
              <p>{{ feature.description }}</p>
              {% endfor %}
            </div>
            <a href="#contacts" class="button"><span>Попробовать</span></a>
            <!--button class="button-link">Узнать больше</button--!>
          </div>
        </div>
        <div class="block__section-image block-video">
          <div class="block-video__inner">
            <div class="youtube" id="0wCC3aLXdOw"></div>
            <!-- <img class="video" src="content/img/img-video-0.jpg" alt="Изображение"> -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- .block end -->
  {% endfor %}
</div>

<div id="cases" class="block cases">
  <div class="block__inner">
    <div class="partners">
      <div class="flex-items">
        {% for partner in site.data.partners %}
        <div class="partners-item">
          <img src="assets/img/partners/{{ partner.name }}.png" alt="partner">
        </div>  
        {% endfor %}
      </div>
    </div><!-- .partners end -->
  </div>
</div><!-- .cases end -->

