<!-- Products Section -->
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                </div>
            <div class="row">
<!--               <div class="col-md-4">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title">Facet</h3>
                    <h3 class="section-subheading text-muted">Facet improves your decision-making ability by eliminating data redundancies, standardizing reporting across multiple networks, and creating data sets for meaningful storytelling.<br /><br /><strong>Benefits</strong><br />For your mission-critical work it is important to ensure that your data is correct, consistent and useable by identifying any errors or corruptions in the data. This is why we built BrightHive Facet,<br /><br /><strong>With Facet you can…</strong><br />
                      <ul>
                        <li>standardize and normalize your diverse data sets to make centralized uploading and analysis faster and more accurate</li>
                        <li>Produce clear, simple, accessible definitions of what data is collected and required</li>
                        <li>Integrate with your existing systems like Tableau, xxx, xxx  and others</li>
                        <li>Reduce administrative burden and cost of reporting related to data collection, integration, and reporting</li>
                      </ul>
                     </h3>
                  </div>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title">Basket</h3>
                    <h3 class="section-subheading text-muted">Basket gives your network of education and training providers a secure central data upload portal that provides immediate feedback and robust validation on uploads improving the quality of data you receive<br /><br /><strong>Benefits</strong><br />A lack of data standards within education and training provider organizations makes it sometimes difficult to compare data and derive outcome-driven insight. We understand that this affects your ability to build impact-promising interventions. This is why we built BrightHive Basket.<br /><br /><strong>With Basket you can…</strong><br />
                      <ul>
                        <li>a single point of entry for data uploading, validation, and secure transmission</li>
                        <li>Immediate, detailed, and automated feedback on data uploads, mapping data to your expectations of standards and quality</li>
                        <li>a detailed upload history by timestamps, organization, or user</li>
                      </ul>
                      <a href="mailto:learnmore@brighthive.io" class="btn btn-primary">Request a Demo</a>
                     </h3>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title">Reframe</h3>
                    <h3 class="section-subheading text-muted">Better inform providers, participants and funders on program outcomes and seamlessly comply with federal reporting requirements for the Workforce Innovation and Opportunity Act.<br /><br /><strong>Benefits</strong><br />Impact potential can often times not be fully understood - and it impacts people and funding. The reason is a lack of regular contact with outcomes data and siloed data across organizations in the ecosystem. BrightHive Reframe is here to help you look at yours and your partner’s education and training data holistically and find the best possible way forward.<br /><br /><strong>With Reframe you can…</strong><br />
                      <ul>
                        <li>Intelligently link records across agencies using workforce data standards</li>
                        <li>Streamline compliance with federal reporting requirements and reduce institutional burden</li>
                        <li>Support data-driven decision-making with accessible real-time outcomes data</li>
                        <li>Automatically connect educational investments to wage and employment outcomes</li>
                      </ul>
                      <a href="mailto:learnmore@brighthive.io" class="btn btn-primary">Request a Demo</a>
                     </h3>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>