<!-- Adventure Section -->
    <section id="adventure">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Adventure</h2>
                    <h3 class="section-subheading text-muted">Team Last Responders aims to make an impact all around the world. To date, Last Responders organized ambulance donations to Asia, Afria, and South America.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2010</h4>
                                    <h4 class="subheading">Mongol Rally</h4> 
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Team Last Responder's inaugural ambulance donation covered the insane distance of 10,000 miles from London, United Kingdon to Ulan Bator, Mongolia. Last Responders was one of 400 team participating in the Mongol Rally and raised monday for Mercycorp and MSF.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2011</h4>
                                    <h4 class="subheading">Timbuktu Challenge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The second charity project took the team through to Western Africa where the team donated an ambulance to a hospital in Mali. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2013</h4>
                                    <h4 class="subheading">Pan-America Rally</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Where
                                    <br>to
                                    <br>Next?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
