   <section id="rally-summary">
          <div class="container">
              <div class="row">
  	      <div class="col-lg-12 text-center">
                      <h2 class="section-heading">The Challenge</h2>
                      <h3 class="section-subheading text-muted">{{page.event-description}}</h3>
                  </div>
              </div>
              <div class="row text-center">

  		<div class="col-md-4">
   <img class=".img-rounded img-responsive" src='img/{{page.vehicle-picture}}' alt="">
                      </span>
                      <h4 class="service-heading">{{page.vehicle-title}}</h4>
                      <p class="text-muted blue-link">{{page.vehicle-caption}}</p>
                  </div>
                  <div class="col-md-4">
                                  <img class=".img-rounded img-responsive" src="img/{{ page.adventure-picture }}" alt="">
                      <h4 class="service-heading">{{ page.adventure-title }}</h4>
                      <p class="text-muted">{{page.adventure-caption}}</p>
                </div>
  		<div class="col-md-4">
  		  <img class=".img-rounded img-responsive" src="img/{{ page.charity-picture }}" alt="">
                      <h4 class="service-heading">{{page.charity-title}}</h4>
                      <p class="text-muted"> {{page.charity-caption}}</p>

  		    </div>
              </div>
          </div>
      </section>
