<!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">活動概要</h2>
					      <h3 class="section-subheading text-muted">OpenStreetMap Foundation Japan (OSMFJ) は<br>日本地域におけるOpenStreetMapプロジェクトの支援として、主に以下を中心に活動しています。</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">諸団体との連携</h4>
                    <p class="text-muted">OpenStreetMap発展のために関連団体と連携､地理空間データを公開する団体へデータ使用の打診</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">State of the Map Japan開催</h4>
                    <p class="text-muted">日本におけるOpenStreetMapの地域カンファレンスを毎年開催</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-e">権利の保護･維持管理</h4>
                    <p class="text-muted">OpenStreetMapに関わる知的財産やインターネットドメインの保護と維持管理</p>
                </div>
            </div>
        </div>
    </section>
