<!-- Services Section -->
    <section id="skills">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Major Skills</h2>
                    <h3 class="section-subheading text-muted">3+ Years of Experience doing:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front-end development</h4>
                    <p class="text-muted">HTML5, CSS3, Javascript</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Responsive design using technologies like CSS3, Bootstrap, jQuery</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Multimedia Creation</h4>
                    <p class="text-muted">Leveraging photography, film and illustrations</p>
                </div>
            </div>
            <div class="bg-png">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Minor Skills</h2>
                    <h3 class="section-subheading text-muted">~1 Year of Experience doing:</h3>
                </div>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Back-end Development</h4>
                    <p class="text-muted">Ruby (Ruby on Rails), Javascript (Node.js/Express), C# (ASP.NET), PHP </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Databases</h4>
                    <p class="text-muted">Relational (MySQL, MSSQL, SQLite) and NoSQL (MongoDB)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">RESTful API development and AJAX</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="row text-center ">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MVC Architecture & Design Patterns</h4>
                    <p class="text-muted">Ruby on Rails, ExpressJS, ASP.NET</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-git fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Source Code Management & Distributed Revision Control</h4>
                    <p class="text-muted">Git</p>
                </div>
            </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Learning</h2>
                    <h3 class="section-subheading text-muted">Things I am currently hacking away at:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Development</h4>
                    <p class="text-muted">Android, iOS and PhoneGap</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Testing</h4>
                    <p class="text-muted">RSpec and Jasmine</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front-end Javascript Frameworks</h4>
                    <p class="text-muted">Angular.js</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Deployment</h4>
                    <p class="text-muted">Heroku</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coffeescript</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
    </section>
