<!-- clients Aside -->
<section id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donating to Epoch</h2>
                <p class="large text-muted">Epoch needs money to build and maintain its servers, as well as support
                    community outreach and activities with our project teams. Please support us by donating to the IMSA
                    Fund. To ensure that your donation is designated to Epoch, write "Donation to Epoch" in the optional
                    "Designated Gift purpose or In Honor or Memory of" section.</p>
                <p class="large text-muted">The IMSA Fund for Advancement of Education is a 501(c)(3) not-for-profit corporation. Gifts to the
                    IMSA Fund are tax deductible to the extent permitted by law. The IMSA Fund Tax Identification Number
                    is #36-3422778.</p>
                <p class="large text-muted">Thank you for your support!</p>
                <h2 class="section-subheading"><a href="https://goepoch.ml/donate">Click here to donate</a></h2>
            </div>
        </div>
    </div>
</section>