<!-- About Section -->
<section id="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t success.heading %}</h2>
                <h3 class="section-subheading text-muted">{% t success.subHeading %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/success/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t success.competence.heading %}</h4>
                                <h4 class="subheading">{% t success.competence.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t success.competence.text %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/success/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t success.learning.heading %}</h4>
                                <h4 class="subheading">{% t success.learning.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t success.learning.text %}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/success/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t success.assesment.heading %}</h4>
                                <h4 class="subheading">{% t success.assesment.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t success.assesment.text %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/success/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t success.flipped.heading %}</h4>
                                <h4 class="subheading">{% t success.flipped.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t success.flipped.text %}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/success/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t success.exams.heading %}</h4>
                                <h4 class="subheading">{% t success.exams.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t success.exams.text %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>{% t success.end %}</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>