<div id="team" class="block members" style="background-color: #F5F9FC;">
  <div class="block__inner">
    <div class="title-group">
      <h2 class="title">Our team</h2>
    </div>
    <div class="flex-items">
      {% for member in site.data.team %}
      <div class="members-item">
        <div class="members-item__inner">
          <img class="members-item__image" src="assets/img/team/{{ member.nickname }}.png" alt="photo">
          <h2 class="members-item__title">{{ member.name }}</h2>
          <p class="members-item__role">{{ member.position }}</p>
          <p class="members-item__text">{{ member.description }}</p>
          <div class="social">
            {% for contact in member.contacts %}
            <a href="{{ contact.url }}" target="_blank" class="social-item">
              <i class="fab fa-lg fa-{{ contact.title }}"></i>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div><!-- .members end -->
