<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% for team in site.teams %}
                    <h2 class="section-heading">{{team.title}}</h2>
                    <h3 class="section-subheading text-muted">{{team.desc}}</h3></div>
                    {% endfor %}
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}" class="img-responsive img-circle" alt="{{ member.imgAlt }}">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fab fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">{{site.teams[0].footer}}</p></div>
            </div>
        </div>
    </section>