<!-- Tech Logos Section -->
<section id="tech-logos">
    <div class="container">
        <div class="row">
            <div class="row padded-row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SaaS Platform</h4>
                    <p class="text-muted">
                        Built on AWS. Robust, scalable, and secure. Enterprise friendly.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Confidently Quantify Risk</h4>
                    <p class="text-muted">
                        Combine the advantages of statistical, physically-based, and AI models.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Real-Time Warning</h4>
                    <p class="text-muted">
                        Monitor your assets with real-time warnings based on current and forecast data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>