<!-- Tech Logos Section -->
<section id="tech-logos">
    <div class="container">
        <div class="row">
            <div class="row padded-row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deploy</h4>
                    <p class="text-muted">
                        Erode AI is built on AWS to ensure scalability, security, and reliability.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> Quantify Erosion Risk</h4>
                    <p class="text-muted">
                        Generate quantitative risk profiles for specific assets and price the risk.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Generate Future Predictions</h4>
                    <p class="text-muted">
                        Forecast future erosion rates and compare alternative scenarios.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>