<!-- Technology Section -->
    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 text-center">
                    <h2 class="section-heading">Technology</h2>
                    <p class="large">
                        Erode AI combines existing physically-based models
                        with the power of artifical intelligence. Erode AI can be rapidly
                        deployed for entire portfolios, with risk profiles updated on a regular basis.
                    </p>
                </div>
                <div class="col-md-5 col-sm-6">
                    <img src="img/forecast_image.png" class="img-narrow">
                </div>
            </div>
        </div>
    </section>