<!-- Technology Section -->
    <section id="technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Learn About Our Platform</h2>
                    <h3 class="section-subheading text-muted">
                        Traditional methods for forecasting river bank erosion and assessing risk
                        tend to be slow, expensive, and unreliable.
                    </h3>
                    <h3 class="section-subheading text-muted">
                            Erode AI combines physically-based models
                        with the power of artifical intelligence to help you build confidence in predictions.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SaaS Platform</h4>
                    <p class="text-muted">
                        Our platform is built on AWS to ensure scalability, security, and reliability.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-table fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> The Data</h4>
                    <p class="text-muted">
                        The Data is extracted from the Canadian National Hydrographic Network
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Algorithm</h4>
                    <p class="text-muted">
                        The machine model was designed, tested, and trained at the University of Guelph as part of a doctoral study
                    </p>
                </div>
            </div>
        </div>
    </section>