<!-- About Section -->
<section id="tool" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t tool.heading %}</h2>
                <h3 class="section-subheading text-muted">{% t tool.subHeading %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>{% t tool.et.heading %}</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t tool.et.heading %}</h4>
                                <h4 class="subheading">{% t tool.et.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t tool.et.text %}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>{% t tool.pele.heading %}</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t tool.pele.heading %}</h4>
                                <h4 class="subheading">{% t tool.pele.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t tool.pele.text %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>{% t tool.sioux.heading %}</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{% t tool.sioux.heading %}</h4>
                                <h4 class="subheading">{% t tool.sioux.subHeading %}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{% t tool.sioux.text %}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>