<!-- About Section -->
<section id="trajetoria">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Nossa trajetória</h2>
	<h3 class="section-subheading text-muted"> </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/fotos_trajetoria/parteironas_bruxonas.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2016-2018</h4>
                <h4 class="subheading">Parteironas Bruxonas</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Realização de oficinas itinerantes na cidade de São Paulo, ainda com o nome de Parteironas Bruxonas (foto: Bia Stein)</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/fotos_trajetoria/casa_do_povo.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018</h4>
                <h4 class="subheading">Residência na Casa do Povo</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Contempladas pelo edital “Residência para Coletivos” no período de setembro a dezembro (foto: Mariana Leão e Maria Clara Tomé)</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Surge o
                <br>Coletiva
                <br>Ruta</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
	    	<h4> Março de 2019 </h4>
		<h4 class="subheading">Parteironas Bruxonas se torna Coletiva Ruta</h4>
	      </div>
	    </div>	    
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/fotos_trajetoria/coletivo_feminista.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4> Abril 2019</h4>
                <h4 class="subheading">Parceria com o Coletivo Feminista Sexualidade Saúde</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Realização de oficinas e outras atividades</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/fotos_trajetoria/2020.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2020</h4>
                <h4 class="subheading">Coletiva Ruta juntinha, antes da pandemia de Covid-19 mudar o mundo</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">(foto: Davi Candido)</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4> Continua
                <br>...</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
