<!-- Transport Section -->
    <section id="transport">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transport</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <span class="fa-stack fa-4x ">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-9">
                    <p class="text-muted">The roads on the estate are a bit rough and quite steep.  We can traverse them in our little Fiat 500, so most of you should manage. We wouldn't recommend bringing a super low-riding car.</p>
                    <p class="text-muted">If you're an Uber user you'll be pleased to hear they operate in the Constantia/Hout Bay area.  That said, please bear in mind that there are likely to be droves of guests leaving at roughly the same time and Constantia Nek is not a likely spot for a cabby to be hanging out.  You might well run into a supply problem.  Please team up with others if you can.  If you've got a smart phone, but haven't tried out Uber yet, you can read more about it by clicking on the icon below. If you use the voucher code "nicolag610ue" when you download the app, you'll get some free credit.</p>
                    <p class="text-muted">If you'd like to order a cab ahead of time the other companies listed below are all reputable and willing to do a pick-up from Constantia Nek. Click on their logos to visit their websites.</p>

                </div>
            </div>
        </div>
    </section>