<!-- Food Section -->
    <section id="transport" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transport</h2>
                    <h3 class="section-subheading text-muted">Getting to and from the wedding</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <span class="fa-stack fa-4x ">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-9">
                    <p class="text-muted">The roads on the estate are a bit rough and quite steep.  We can traverse them in our little Fiat 500, so most of your should manage, but if you have a choice don't take the low-riding car.</p>

                </div>
            </div>
        </div>
    </section>