<!-- What We Do Section -->
<section id="whatwedo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We Do</h2>
                <p class="large text-muted">Computation is the tool of almost every academic field, including medicine,
                    physics, astronomy, finance, and language. However, high-school students do not have access to
                    resources to explore these fields, and are not exposed
                    to advanced methods in these fields. Epoch, a student
                    organization at <a href='https://imsa.edu'>the Illinois Mathematics and Science Academy (IMSA)</a>,
                    is working to provide these resources to the IMSA community.</p>
            </div>
        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Computing Cluster</h4>
                <p class="text-muted">Epoch is developing a student-developed CUDA-enabled high performance computing
                    cluster to support
                    Machine Learning (ML) and other computational workloads. Using this cluster, students can accelerate
                    their training and computation workloads with highly-parallelized hardware.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Education</h4>
                <p class="text-muted">Epoch is developing easy-to-follow curriculum to educate the IMSA community
                    regarding ML
                    and other computational fields. In addition to <a
                        href="https://github.com/epochml/epoch-neural-nets-intersession">our Intersession events</a>, we
                    also hold various
                    seminars throughout the year to engage the IMSA community.</p>
            </div>
        </div>
    </div>
</section>