._cf:before,
._cf:after {
  content: '';
  display: table;
}
._cf:after {
  clear: both;
}
#media-test {
  position: relative;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  #media-test {
    z-index: 0;
  }
}
@font-face {
  font-family: AvenirNext;
  src: url('../fonts/AvenirNextCyr-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Display;
  src: url('../fonts/SF-UI-Display-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Display;
  src: url('../fonts/SF-UI-Display-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Display;
  src: url('../fonts/SF-UI-Display-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 14px;
}
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none;
}
hr {
  margin: 24px 0;
  height: 1px;
  border: none;
  color: #d1d1d1;
  background-color: #d1d1d1;
}
img,
iframe {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  font-family: Display, sans-serif;
  font-size: 14px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: Display, sans-serif;
  font-size: 14px;
}
input::placeholder,
textarea::placeholder {
  color: rgba(34, 34, 34, 0.6);
  text-overflow: ellipsis;
  transition: opacity .25s;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
.__user-input {
  line-height: 26px;
}
.__user-input a {
  color: #4c6eff;
  text-decoration: underline;
}
.__user-input img {
  margin-bottom: 20px;
}
.__user-input h1,
.__user-input h2,
.__user-input h3 {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}
.__user-input h1:last-child,
.__user-input h2:last-child,
.__user-input h3:last-child {
  margin-bottom: 0;
}
.__user-input h3,
.__user-input h4,
.__user-input h5 {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 17px;
}
.__user-input h3:last-child,
.__user-input h4:last-child,
.__user-input h5:last-child {
  margin-bottom: 0;
}
.__user-input p {
  margin-bottom: 20px;
  color: #535c64;
}
.__user-input p:last-child {
  margin-bottom: 0;
}
.__user-input blockquote {
  margin: 0;
  margin-bottom: 24px;
  line-height: 34px;
  font-size: 21px;
  font-weight: 300;
}
.__user-input blockquote:last-child {
  margin-bottom: 0;
}
.__user-input ul,
.__user-input ol {
  margin-bottom: 30px;
  color: #535c64;
}
.__user-input ul:last-child,
.__user-input ol:last-child {
  margin-bottom: 0;
}
.__user-input ul li {
  position: relative;
  margin-bottom: 20px;
}
.__user-input ul li:before {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  content: '';
  margin-right: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: blue;
}
.__user-input ol {
  counter-reset: num;
}
.__user-input ol li {
  position: relative;
  padding-left: 40px;
}
.__user-input ol li:before {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: counter(num) '. ';
  counter-increment: num;
  width: 40px;
  left: 0;
  padding-right: 3px;
  color: #c7bba9;
  text-align: right;
}
.__user-input table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}
.__user-input td {
  position: relative;
  width: 50%;
  padding-left: 5px;
  padding-bottom: 8px;
}
.__user-input td:first-child {
  padding-left: 0;
  color: #5f6063;
  overflow: hidden;
}
.__user-input td:first-child:after {
  position: absolute;
  margin-left: 10px;
  color: #e0e0e0;
  content: '........................................................................................';
}
html {
  line-height: 1.25;
  color: #2a333a;
  font-family: Display, sans-serif;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
#page {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.1);
}
#page-content {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.slider-multiple {
  white-space: nowrap;
}
.slick-prev,
.slick-next {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: opacity .25s;
  opacity: .8;
  z-index: 3;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slick-prev {
  left: 40px;
}
.slick-prev:before {
  margin-left: -8px;
  background: url(../img/ic-chevron-left.svg) center center no-repeat;
}
.slick-next {
  right: 40px;
}
.slick-next:before {
  margin-left: -6px;
  background: url(../img/ic-chevron-right.svg) center center no-repeat;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: .4;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  background-color: transparent;
}
.slick-dotted.slick-slider {
  margin-bottom: 36px;
}
.slick-dots {
  bottom: -36px;
  font-size: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.slick-dots li.slick-active button:before,
.slick-dots li:hover button:before {
  background-color: #453743;
  opacity: 1;
}
.slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
}
.slick-dots li button:before {
  box-sizing: border-box;
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 50%;
  background-color: #aba4a9;
  transition: background-color 0.25s;
  opacity: 1;
}
.slick-slide.slick-current {
  opacity: 1;
}
.slider,
.flex.slider-multiple {
  display: block;
  margin-bottom: 36px;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
}
.slider .catalogue-item,
.flex.slider-multiple .catalogue-item {
  display: inline-block;
  vertical-align: top;
}
.slick-initialized,
.flex.slick-initialized {
  overflow: visible;
}
.flex.slick-initialized {
  display: -webkit-flex;
  display: flex;
}
.flex.slick-initialized .slick-track {
  display: -webkit-flex;
  display: flex;
}
.flex.slick-initialized .slick-slide {
  display: -webkit-flex;
  display: flex;
  height: auto;
}
.fancybox-can-drag .fancybox-content {
  cursor: auto;
}
.fancybox-close-small {
  width: 30px;
  height: 30px;
}
.fancybox-close-small svg {
  display: none;
}
.fancybox-close-small:after {
  top: 0;
  right: 0;
}
.fancybox-bg {
  background: #1c1d21;
}
.fancybox-is-open .fancybox-bg {
  opacity: .9;
}
.fancybox-slide {
  padding: 0 10px;
}
.fancybox-close-small {
  width: 32px;
  height: 32px;
  top: 42px;
  right: 44px;
}
.fancybox-close-small:hover:after,
.fancybox-close-small:hover:before {
  background-color: #f00;
}
.fancybox-close-small:after,
.fancybox-close-small:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -12px;
  width: 24px;
  height: 2px;
  outline: none;
  border-radius: 0;
  background-color: #a0a0a0;
  transition: background-color 0.25s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fancybox-close-small:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-slider-horizontal {
  height: 4px;
}
.ui-widget-content {
  background-color: #e6e6e6;
}
.ui-widget-header {
  background: #1f70eb;
  color: #333333;
  font-weight: bold;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
}
.ui-slider .ui-slider-handle {
  width: 12px;
  height: 12px;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:before {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  background-color: #fff;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  background-color: #337ace;
  border: none;
  transition: background-color 0.25s;
}
.ui-state-default:active,
.ui-widget-content .ui-state-default:active {
  background-color: #1d599d;
}
.br-theme-css-stars .br-widget a:after {
  color: #fac26b;
}
.br-theme-css-stars .br-widget a.br-selected:after {
  color: #f09402;
}
.barrating {
  margin-bottom: 12px;
  height: 20px;
}
.br-theme-css-stars .br-widget {
  height: 20px;
}
.br-theme-css-stars .br-widget a {
  height: 18px;
  width: 18px;
  font-size: 18px;
}
.br-theme-css-stars .br-widget a:after {
  color: #cccccc;
}
.br-theme-css-stars .br-widget a.br-selected:after {
  color: #1f70eb;
}
.block {
  padding: 80px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.block__inner,
.block__content {
  margin: 80px auto;
  max-width: 1170px;
  width: 100%;
}
.block__inner:first-child,
.block__content:first-child {
  margin-top: 0;
}
.block__inner:last-child,
.block__content:last-child {
  margin-bottom: 0;
}
.block__content {
  max-width: 770px;
}
.block__sections {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.block__sections_reverse .block__section-content {
  -webkit-order: 1;
  order: 1;
  padding-left: 20px;
  padding-right: 0;
}
.block__sections_reverse .block__section-content-inner {
  float: right;
}
.block__section-content {
  width: 50%;
  padding-right: 20px;
}
.block__section-content .button {
  margin-top: 40px;
  margin-right: 40px;
}
.block__section-content-inner {
  max-width: 470px;
}
.block__section-image {
  width: 50%;
  max-width: 570px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper-items {
  margin-top: 38px;
}
.wrapper-items:first-child {
  margin-top: 0;
}
.flex,
.flex-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-items {
  margin: -20px;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 3em;
}
.logo img {
  width: 100%;
}
.title-group {
  margin: 0 auto 60px;
  max-width: 770px;
  text-align: center;
}
.title-group:last-child {
  margin-bottom: 0;
}
.title-group .title {
  margin-bottom: 10px;
}
.title-group .text {
  line-height: 42px;
  font-size: 24px;
  font-weight: bold;
}
.title {
  margin-bottom: 40px;
  line-height: 53px;
  font-family: AvenirNext, sans-serif;
  color: #016cdc;
  font-size: 38px;
  font-weight: bold;
}
.title_small {
  margin-bottom: 30px;
  line-height: 39px;
  font-size: 28px;
}
._text-center {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .block {
    padding: 40px 20px;
  }
  .block__sections_reverse .block__section-content {
    padding-left: 0;
  }
  .block__sections_reverse .block__section-content-inner {
    float: left;
  }
  .block__section-content {
    -webkit-order: 1;
    order: 1;
    width: 100%;
    padding-right: 0;
  }
  .block__section-image {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
  }
  .block__section-content-inner {
    max-width: 100%;
  }
}
.button {
  position: relative;
  display: -webkit-inline-flex;
  display: -inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 44px;
  padding: 6px 20px;
  white-space: nowrap;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #e56b07;
  cursor: pointer;
  overflow: hidden;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #e56b07 0%, #f7862a 100%);
  opacity: 1;
  transition: opacity .25s;
}
.button span {
  position: relative;
}
.button:hover:before {
  opacity: 0;
}
.button:active {
  background-color: #1f70eb;
  transition: background-color 0s;
}
.button_small {
  min-height: 36px;
}
.button-link {
  font-size: 14px;
  color: #E56B07;
  font-weight: bold;
  transition: color .25s;
}
.button-link:hover {
  color: #aa4f05;
}
@media screen and (max-width: 768px) {
  .button {
    white-space: normal;
  }
}
.edd-root,
.edd-root *,
.edd-root *::before,
.edd-root *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.edd-root {
  display: inline-block;
  position: relative;
  width: 180px;
  user-select: none;
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}
.edd-root-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.edd-head {
  overflow: hidden;
  border: 1px solid #eee;
  transition: box-shadow 200ms, border-color 150ms;
  background: white;
}
.edd-head,
.edd-body {
  border-radius: 4px;
}
.edd-root-focused .edd-head {
  box-shadow: 0 0 5px rgba(105, 215, 255, 0.4);
}
.edd-root-invalid .edd-head {
  box-shadow: 0 0 5px rgba(255, 105, 105, 0.671);
}
.edd-root:not(.edd-root-disabled):not(.edd-root-open) .edd-head:hover {
  border-color: #ccc;
}
.edd-value {
  width: calc(50%);
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  border-right: 1px solid #eee;
}
.edd-arrow {
  position: absolute;
  width: 18px;
  height: 10px;
  top: calc(45%);
  right: calc(15px);
  transition: transform 150ms;
  pointer-events: none;
}
.edd-arrow::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  top: -5px;
  right: 0;
  transform: rotate(45deg);
  transform-origin: 50% 25%;
}
.edd-root-open .edd-arrow {
  transform: rotate(180deg);
}
.edd-value,
.edd-option,
.edd-group-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.edd-root:not(.edd-root-disabled) .edd-value,
.edd-option {
  cursor: pointer;
}
.edd-select {
  position: absolute;
  opacity: 0;
  left: -999px;
}
.edd-root-native .edd-select {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.edd-body {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #eee;
  pointer-events: none;
  overflow: hidden;
  margin: 8px 0;
  z-index: 999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  background: white;
}
.edd-root-open .edd-body {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
  transition: opacity 200ms, transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.edd-root-open-above .edd-body {
  bottom: 100%;
}
.edd-root-open-below .edd-body {
  top: 100%;
}
.edd-items-list {
  overflow: auto;
  max-height: 0;
  transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-overflow-scrolling: touch;
}
.edd-group-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 12px 8px 4px;
  color: #999;
}
.edd-group-has-label {
  border-bottom: 1px solid #eee;
}
.edd-option {
  padding: 4px 8px;
}
.edd-group-has-label .edd-option {
  padding-left: 20px;
}
.edd-option-selected {
  font-weight: bold;
}
.edd-option-focused:not(.edd-option-disabled) {
  color: #4ac5f1;
}
.edd-option-disabled,
.edd-group-disabled .edd-option {
  cursor: default;
  color: #ccc;
}
.edd-gradient-top,
.edd-gradient-bottom {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  height: 32px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ffffff 40%, #ffffff 60%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  background-size: 100% 200%;
  pointer-events: none;
  transition: opacity 100ms;
  opacity: 0;
}
.edd-gradient-top {
  background-position: bottom;
  top: 0;
}
.edd-gradient-bottom {
  background-position: top;
  bottom: 0;
}
.edd-body-scrollable .edd-gradient-top,
.edd-body-scrollable .edd-gradient-bottom {
  opacity: 1;
}
.edd-body-scrollable.edd-body-at-top .edd-gradient-top,
.edd-body-scrollable.edd-body-at-bottom .edd-gradient-bottom {
  opacity: 0;
}
.select {
  display: block;
  margin-bottom: 16px;
  color: #453743;
}
.select .edd-root {
  display: block;
  position: relative;
  width: auto;
  user-select: none;
  color: inherit;
  font-size: 14px;
}
.select .edd-head {
  height: 40px;
  padding: 0 14px;
  padding-right: 31px;
  line-height: 38px;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  transition: border-color 150ms;
  background-color: #fff;
  box-shadow: none;
  cursor: pointer;
}
.select .edd-value {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-right: none;
}
.select .edd-arrow {
  position: absolute;
  width: 8px;
  height: 5px;
  top: 50%;
  right: 14px;
  margin-top: -2px;
  transition: transform 150ms;
  pointer-events: none;
}
.select .edd-arrow:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: 0;
  margin-top: -2px;
  transform-origin: 50% 50%;
  border-top: 5px solid #222222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.select .edd-body {
  min-width: 100%;
  padding: 6px 0;
  right: auto;
}
.select .edd-option {
  padding: 4px 14px;
}
.select .edd-option-focused:not(.edd-option-disabled) {
  color: #0f3487;
}
.form {
  width: 100%;
  max-width: 744px;
}
.form__inner {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin: -5px;
}
.form__section {
  padding: 5px;
}
.input-group {
  display: -webkit-flex;
  display: flex;
}
.input-group .input {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group .input-button {
  margin-left: -1px;
}
.input-label {
  display: inline-block;
  margin-bottom: 6px;
}
.input-surely:after {
  margin-left: 2px;
  content: '*';
  color: #e31b21;
}
.input,
.textarea {
  vertical-align: top;
  margin-bottom: 16px;
  width: 100%;
  height: 44px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.input::placeholder,
.textarea::placeholder {
  color: #888888;
}
.input.correct,
.textarea.correct {
  border-color: #00ff00;
}
.input.error,
.textarea.error {
  border-color: #ff0000;
}
.textarea {
  min-height: 90px;
  max-height: 200px;
  padding: 12px 14px;
}
.custom-control-group > div {
  width: 50%;
}
.custom-control-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  line-height: 18px;
}
.custom-control {
  position: relative;
  display: inline-block;
  margin-left: 26px;
}
.custom-control__input {
  display: none;
}
.custom-control__checkbox,
.custom-control__radio {
  display: inline-block;
}
.custom-control__checkbox:before,
.custom-control__radio:before {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: -26px;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  transition: background-color 0.25s, border-color 0.25s;
}
.custom-control__checkbox:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 5px;
  left: -21px;
  width: 8px;
  height: 6px;
  border-left: 2px solid #1f70eb;
  border-bottom: 2px solid #1f70eb;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: opacity .25s;
  opacity: 0;
}
.custom-control__radio:before {
  border-radius: 50%;
}
.custom-control__radio:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -21px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1f70eb;
}
.custom-control__description {
  color: #5f6063;
}
.custom-control__input:checked ~ .custom-control__checkbox:after,
.custom-control__input:checked ~ .custom-control__radio:after {
  opacity: 1;
}
.popup {
  display: none;
  width: 100%;
  max-width: 400px;
  padding: 36px 20px 40px;
  border-radius: 4px;
  background-color: #fff;
  cursor: auto;
}
.popup__inner {
  margin: 0 auto;
  max-width: 320px;
}
.popup__title {
  margin-bottom: 22px;
  line-height: 30px;
  font-size: 28px;
}
.breadcrumb-list {
  margin-bottom: 48px;
}
.breadcrumb-list li {
  display: inline-block;
  position: relative;
  margin-right: 26px;
  color: #a4a4a4;
  font-size: 16px;
  transition: color .25s;
}
.breadcrumb-list li:before {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  top: 50%;
  right: -19px;
  margin-top: -3px;
  border-bottom: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.breadcrumb-list li:last-child:before {
  display: none;
}
.breadcrumb-list li:hover {
  color: #fec853;
}
.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 40px;
}
.pagination li {
  position: relative;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #756a73;
  text-align: center;
  border-radius: 50%;
}
.pagination a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pagination .active {
  color: #fff;
  background-color: #5c4d5a;
}
.pagination .unactive {
  opacity: .4;
}
.pagination .prev,
.pagination .next {
  margin-: 20px;
  font-size: 0;
}
.pagination .prev a:before,
.pagination .next a:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 10px;
  height: 10px;
  background: url(../img/ic-chevron-left.svg) center center no-repeat;
  background-size: contain;
}
.pagination .prev {
  margin-right: 20px;
}
.pagination .next {
  padding-left: 20px;
}
.pagination .next a:before {
  background-image: url(../img/ic-chevron-right.svg);
}
.social {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 10px;
}
.social-item {
  display: -webkit-flex;
  display: flex;
  margin: 0 7px;
  width: 16px;
  height: 16px;
}
.social-item svg {
  margin: auto;
  width: 100%;
  height: 100%;
  fill: #B9BFC4;
  transition: fill .25s;
}
.social-item:hover svg {
  fill: #016cdc;
}
header {
  position: fixed;
  min-height: 76px;
  padding: 18px 20px;
  color: #fff;
  transition: background-color 0.25s;
  z-index: 10;
}
@media screen and (min-width: 1440px) {
  header {
    width: 1440px;
  }
}
@media screen and (max-width: 1440px) {
  header {
    width: 100%;
  }
}
header > .flex {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
header .logo {
  margin-right: 18px;
}
header.sticky {
  background: #016cdc;
  box-shadow: 0px 5px 20px rgba(20, 28, 36, 0.12);
}
.header__section {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}
.header__menu li {
  display: inline-block;
  margin: 4px 11px;
  transition: color .25s;
}
.header__menu li:hover {
  color: #e56b07;
}
@media screen and (max-width: 888px) {
  .header__menu {
    display: none;
  }
}
footer {
  -webkit-flex: none;
  flex: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 120px;
  padding: 80px 20px;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  background-color: #2a333a;
}
.footer-contacts {
  margin-bottom: 30px;
}
.footer-tel {
  margin-bottom: 10px;
  line-height: 39px;
  font-family: AvenirNext, sans-serif;
  font-size: 28px;
  color: #E56B07;
  font-weight: bold;
}
.footer-mail {
  margin-bottom: 10px;
  line-height: 42px;
  font-size: 24px;
  color: #E56B07;
  font-weight: bold;
}
.main {
  padding-top: 130px;
  padding-bottom: 130px;
  color: #fff;
}
.main > .flex {
  position: relative;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  min-height: 440px;
}
.main .button {
  margin-top: 30px;
}
.main__content {
  position: relative;
  max-width: 650px;
  padding-right: 20px;
  z-index: 1;
}
.main__partners {
  margin-bottom: 20px;
}
.main__partners-item {
  margin-right: 30px;
}
.main__title {
  line-height: 53px;
  font-family: AvenirNext, sans-serif;
  font-size: 38px;
}
.main__image {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 370px;
  max-height: 100%;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .main__title {
    line-height: 43px;
    font-size: 32px;
  }
}
@media screen and (max-width: 992px) {
  .main__content {
    max-width: 100%;
    padding-right: 0;
  }
  .main__title {
    line-height: 33px;
    font-size: 26px;
  }
  .main__image {
    display: none;
    /*position: absolute;
    top: -40px;
    max-width: 100%;
    width: 100%;
    opacity: .4;*/
  }
}
.card .block__content {
  max-width: 1080px;
}
.card__title {
  margin-bottom: 30px;
  line-height: 34px;
  font-family: AvenirNext, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.advantages .flex-items {
  -webkit-justify-content: center;
  justify-content: center;
}
.advantages-item {
  width: 33.333333333333%;
  padding: 20px;
  text-align: center;
}
.advantages-item__inner {
  margin: 0 auto;
  max-width: 310px;
}
.advantages-item__image {
  margin: 0 auto 20px;
  width: 48px;
  height: 48px;
}
.advantages-item__text {
  line-height: 28px;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .advantages-item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .advantages-item {
    width: 100%;
  }
}
.expert {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  background: linear-gradient(90deg, #016cdc 0%, #009cf0 100%);
}
.expert > .flex {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.expert .title-group {
  max-width: 470px;
  text-align: left;
}
.expert .title {
  color: inherit;
}
.expert .text {
  line-height: 28px;
  font-size: 16px;
  font-weight: normal;
}
.expert .button {
  margin: 0;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .expert > .flex {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .expert .button {
    margin-top: 30px;
    margin-left: 0;
  }
}
.assistants .flex-items {
  margin: -30px -45px;
}
.checks {
  margin-top: 30px;
}
.checks .flex-items {
  -webkit-justify-content: center;
  justify-content: center;
}
.assistants-item,
.checks-item {
  width: 33.333333333333%;
  padding: 30px 45px;
}
.assistants-item__num {
  margin-bottom: 20px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(180deg, #016cdc 0%, #009cf0 100%);
  box-shadow: 0px 5px 10px rgba(0, 156, 240, 0.2);
  border-radius: 3px;
}
.assistants-item__title {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 17px;
  font-weight: bold;
}
.assistants-item__text {
  line-height: 28px;
  font-size: 16px;
  color: #535C64;
}
.checks-item__check {
  line-height: 37px;
  font-size: 21px;
  font-weight: bold;
}
.checks-item__check:before {
  display: inline-block;
  content: '';
  margin-right: 20px;
  width: 18px;
  height: 16px;
  background: url(../img/ic_check.png) center center no-repeat;
  background-size: contain;
}
@media screen and (max-width: 992px) {
  .assistants-item,
  .checks-item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .assistants-item,
  .checks-item {
    width: 100%;
  }
}
.block-text {
  line-height: 37px;
  font-size: 21px;
  color: #FFFFFF;
}
.block-text .title {
  color: inherit;
}
.block-text .__user-input h1,
.block-text .__user-input h2,
.block-text .__user-input h3,
.block-text .__user-input h3,
.block-text .__user-input h4,
.block-text .__user-input h5 {
  margin-bottom: 30px;
  line-height: 36px;
  font-size: 26px;
}
.block-text .__user-input p {
  margin-bottom: 30px;
  line-height: 37px;
  font-size: 21px;
  color: #FFFFFF;
  font-weight: 300;
}
.members .flex-items {
  -webkit-justify-content: center;
  justify-content: center;
}
.members-item {
  width: 33.333333333333%;
  padding: 20px;
  text-align: center;
}
.members-item__inner {
  margin: 0 auto;
  max-width: 310px;
}
.members-item__image {
  margin-bottom: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.members-item__title {
  line-height: 30px;
  font-size: 17px;
  font-weight: bold;
}
.members-item__role {
  margin-bottom: 10px;
  line-height: 28px;
  font-size: 16px;
  color: #535C64;
}
.members-item__text {
  line-height: 28px;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .members-item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .members-item {
    width: 100%;
  }
}
.cases-item {
  width: 33.333333333333%;
  padding: 20px;
  text-align: center;
}
.cases-item__inner {
  margin: 0 auto;
  max-width: 310px;
}
.cases-item__image {
  margin-bottom: 20px;
  width: 100%;
}
.cases-item__title {
  line-height: 37px;
  font-size: 21px;
  font-weight: bold;
}
.cases-item__text {
  line-height: 28px;
  font-size: 16px;
  color: #535C64;
}
@media screen and (max-width: 992px) {
  .cases-item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .cases-item {
    width: 100%;
  }
}
.partners > .flex-items {
  -webkit-justify-content: center;
  justify-content: center;
}
.partners-item {
  height: 60px;
  margin: 0 40px 20px;
}
.partners-item img {
  max-height: 100%;
}
.block-form {
  color: #fff;
  background: linear-gradient(90deg, #016cdc 0%, #009cf0 100%);
}
.block-form .title {
  color: inherit;
}
.block-form .text {
  line-height: 37px;
  font-size: 21px;
}
.block-form .form {
  display: -webkit-flex;
  display: flex;
  margin: -40px auto 0;
  max-width: 440px;
}
.block-form .input {
  margin: 0;
  margin-right: 10px;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.block-form .input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.block-form .input.correct {
  border-color: #00ff00;
}
.block-form .input.error {
  border-color: #ff0000;
}
@media screen and (max-width: 576px) {
  .block-form .form {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 440px;
  }
  .block-form .input {
    margin-bottom: 20px;
  }
}
.block-video {
  position: relative;
  box-shadow: 0px 10px 40px rgba(20, 28, 36, 0.12);
  border-radius: 4px;
}
.block-video iframe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.block-video__inner {
  position: relative;
  padding-top: 56%;
}

.youtube {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
  z-index: 3;
}
.youtube:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.2);
}
.youtube .play {
  background: url('../img/play-btn.png') no-repeat;
  background-position: 0 -80px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 80px;
  width: 80px;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.youtube:hover .play {
  background-position: 0 0;
}
.youtube {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
}
.youtube .play {
  background: url('../img/play.png') no-repeat;
  /*ВАЖНО: здесь укажите адрес до изображения*/
  background-position: 0 -60px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  height: 60px;
  width: 60px;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.youtube:hover .play {
  background-position: 0 0;
}

.phone-demo {
  height: 480px;
}

.lang_switch {
  margin: 25px;
}

.menu {
  width: 100%;
}
