  <!-- Adventure Section -->
  <section id="blogpost">
  	<div class="container postcontent">
      <div class="row">
  			<div class="col-lg-12">
          <h4>{{page.date | date: '%B %d, %Y'}}</h4> <h5>by {{page.author.display_name}} in {{page.location}}</h5>
    		</div>
  		</div>
  		<div class="row">
  			<div class="col-lg-12">
           {{ page.content | markdownify }}
    		</div>
  		</div>

      <div class="row text-center">
        <div class="col-xs-3">
          {% if prev-post %}
          <div class="button-container">
            <a href="{{prev-post.url}}" class="btn btn-small">Older</a>
          </div>
          {% elsif stage-post.prev-stage-url %}
              <div class="button-container">
                <a href="/{{stage-post.prev-stage-url}}" class="btn btn-small">Stage {{stage-post.stage | minus: 1}}</a>
              </div>
          {% endif %}
        </div>
        <div class="col-xs-6">
        </div>
        <div class="col-xs-3">
          {% if next-post %}
              <div class="button-container">
                <a href="{{next-post.url}}" class="btn btn-small">Newer</a>
              </div>
          {% elsif stage-post.next-stage-url %}
              <div class="button-container">
                <a href="/{{stage-post.next-stage-url}}" class="btn btn-small">Stage {{stage-post.stage | plus: 1}}</a>
              </div>
          {% endif %}
        </div>
    </div>
</section>
