
.button-container  {
    color: #{{ site.color.primary }};
    color: #fff;
}

.modal-timeline-icon-muted {
  background-color: #{{ site.color.secondary-light }};
}

.modal-timeline-icon-muted  h3 {
  margin-top: 40%;
}

.modal-timeline-icon-site-primary {
  background-color: #{{ site.color.primary }};
}
