<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include about.html %}
    {% include adventure.html %}
    {% include charity-partner.html %}
    {% include ambulances.html %}
    {% include team.html %}
    {% include footer.html %}
    {% include about-modal.html %}
    {% include partners-modals.html %}
    {% include ambulance-modals.html %}
    {% include rally-modals.html %}
    {% include js.html %}

    </body>
</html>
